<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/home/home.css') }}">
            {# On charge le CSS de bootstrap depuis le site directement #}
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 col-md-offset-1">
                        <h1>Symfony</h1>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <form class="navbar-form navbar-right" role="search">
                            <a href="{{path('article_list')}}"><button type="button" class="btn btn-default navbar-btn">All</button></a>
                            <a href="{{path('article_new')}}"><button type="button" class="btn btn-default navbar-btn">New</button></a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

            <div class="row">
                <div class="col-md-10 col-md-offset-1 articles">
                    {% block body %}
                    {% endblock %}
                </div>
                </div>





        {% block javascripts %}{% endblock %}
    </body>
</html>
